# Use the default registry
registry=https://registry.npmjs.org/
# Use exact node version
use-node-version=22.11.0
# Save exact versions in package.json
save-exact=true
# Set the log level
loglevel=info
# Disable package-lock.json file creation
package-lock=false
ignore-workspace-root-check=true
